n8n_master_workflow.json
{
    "name": "solid AI - Master Workflow (Chat & Email)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "540bf998-e19d-4608-8636-f5a53ac00080",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "id": "webhook-master"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.serviceType }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "Chat"
                        }
                    ]
                }
            },
            "name": "Is Chat or Email?",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyCVqJGBnJIgNb73heK3RIclkIA0ujSR7XY",
                "method": "POST",
                "jsonParameters": true,
                "options": {},
                "bodyParametersJson": "={{ $json.body }}"
            },
            "name": "Gemini API Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                550,
                150
            ]
        },
        {
            "parameters": {
                "functionCode": "const response = items[0].json;\nlet reply = 'Sorry, I am having trouble thinking right now.';\nif (response.candidates && response.candidates[0].content && response.candidates[0].content.parts) {\n  reply = response.candidates[0].content.parts[0].text;\n}\nreturn [{ json: { reply: reply } }];"
            },
            "name": "Format Chat Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                750,
                150
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Respond to Chat",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                950,
                150
            ]
        },
        {
            "parameters": {
                "functionCode": "// --- LEGACY EMAIL PROCESSING --- \nconst input = items[0].json.body;\n\n// 1. Extract Data\nconst contact = input.contact || {};\nconst firstName = contact.firstName || input.firstName || input.name || 'Unknown';\nconst lastName = contact.lastName || input.lastName || '';\nconst fullName = `${firstName} ${lastName}`.trim();\nconst phone = contact.phone || input.phone || 'N/A';\nconst message = input.message || contact.message || 'No message provided';\n\n// 2. Client Email Validation\nlet clientEmail = null;\nlet rawEmail = contact.email || input.email;\nif (rawEmail && typeof rawEmail === 'string' && rawEmail.includes('@')) {\n    clientEmail = rawEmail.trim();\n}\n\n// 3. Admin Email Content\nconst htmlBody = `\n  <h2>New Inquiry Received</h2>\n  <p><strong>Name:</strong> ${fullName}</p>\n  <p><strong>Email:</strong> ${clientEmail || 'NOT PROVIDED'}</p>\n  <p><strong>Phone:</strong> ${phone}</p>\n  <p><strong>Message:</strong></p>\n  <blockquote style=\"background: #f0f0f0; padding: 10px;\">${message}</blockquote>\n`;\n\nconst subject = input.serviceType ? `[${input.serviceType}] ${fullName}` : `New Inquiry: ${fullName}`; \n\nreturn [{\n    json: {\n        subject: subject,\n        htmlBody: htmlBody,\n        clientEmail: clientEmail,\n        hasClientEmail: !!clientEmail\n    }\n}];"
            },
            "name": "Process Email Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                550,
                450
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "={{$node[\"Process Email Data\"].json[\"subject\"]}}",
                "message": "={{$node[\"Process Email Data\"].json[\"htmlBody\"]}}",
                "toEmail": "solidiaai@gmail.com",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send to Admin",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 1,
            "position": [
                800,
                350
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "tFigzIN0822VVseh",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$node[\"Process Email Data\"].json[\"hasClientEmail\"]}}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Check Client Email",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                800,
                550
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "We received your request - solid AI",
                "message": "Hi there,<br><br>Thanks for reaching out to solid AI. We have received your inquiry and will get back to you shortly.<br><br>Best regards,<br>The solid AI Team",
                "toEmail": "={{$node[\"Process Email Data\"].json[\"clientEmail\"]}}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send to Client",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 1,
            "position": [
                1000,
                550
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "tFigzIN0822VVseh",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"status\": \"success\", \"message\": \"Email processed\"}",
                "options": {}
            },
            "name": "Respond to Email Form",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1000,
                350
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Is Chat or Email?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Chat or Email?": {
            "main": [
                [
                    {
                        "node": "Gemini API Call",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Process Email Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini API Call": {
            "main": [
                [
                    {
                        "node": "Format Chat Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Chat Response": {
            "main": [
                [
                    {
                        "node": "Respond to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Email Data": {
            "main": [
                [
                    {
                        "node": "Send to Admin",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check Client Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Admin": {
            "main": [
                [
                    {
                        "node": "Respond to Email Form",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Client Email": {
            "main": [
                [
                    {
                        "node": "Send to Client",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}