n8n_automation_workflow.json
{
  "name": "solid AI - Quote & Inquiry Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "540bf998-e19d-4608-8636-f5a53ac00080",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        250,
        300
      ],
      "id": "3dadee3a-d5a3-465c-90c2-98e393c6bc35",
      "webhookId": "540bf998-e19d-4608-8636-f5a53ac00080"
    },
    {
      "parameters": {
        "functionCode": "// Format data for email\nconst data = items[0].json;\n\n// Colors based on website\nconst colors = {\n    bg: '#111827', // gray-900\n    card: '#1f2937', // gray-800\n    text: '#f3f4f6', // gray-100\n    accent: '#2563eb', // blue-600\n    border: '#374151' // gray-700\n};\n\nconst logoUrl = 'https://raw.githubusercontent.com/Lyhack27/solidIA2.0/main/logo/logo.png';\n\nlet subject = '';\nlet content = '';\n\n// Helper for styled rows\nconst row = (label, value) => `\n    <div style=\"margin-bottom: 12px;\">\n        <span style=\"color: #9ca3af; font-size: 12px; text-transform: uppercase; letter-spacing: 0.05em; display: block; margin-bottom: 4px;\">${label}</span>\n        <span style=\"color: ${colors.text}; font-size: 16px; font-weight: 500;\">${value || 'N/A'}</span>\n    </div>\n`;\n\nif (data.serviceType === 'General Inquiry (Intro Form)') {\n    subject = `New General Inquiry: ${data.contact.firstName} ${data.contact.lastName}`;\n    content = `\n        <h2 style=\"color: ${colors.accent}; margin-top: 0;\">General Inquiry</h2>\n        ${row('Name', `${data.contact.firstName} ${data.contact.lastName}`)}\n        ${row('Email', data.contact.email)}\n        ${row('Message', data.message)}\n    `;\n} else if (data.serviceType === 'AI Brainstormer Request') {\n    subject = `New AI Brainstormer Request`;\n    content = `\n        <h2 style=\"color: ${colors.accent}; margin-top: 0;\">AI Brainstormer Request</h2>\n        ${row('Details', data.message)}\n        <div style=\"margin-top: 20px; padding-top: 20px; border-top: 1px solid ${colors.border};\">\n             ${row('Contact Name', `${data.contact.firstName} ${data.contact.lastName}`)}\n             ${row('Contact Email', data.contact.email)}\n        </div>\n    `;\n} else {\n    // Chatbot Quote Request\n    subject = `New Quote Request: ${data.business ? data.business.needType : 'General'}`;\n    content = `\n        <h2 style=\"color: ${colors.accent}; margin-top: 0;\">New Quote Request</h2>\n        \n        <div style=\"background-color: ${colors.bg}; padding: 15px; border-radius: 6px; margin-bottom: 20px;\">\n            <h3 style=\"color: white; margin-top: 0; margin-bottom: 15px; font-size: 14px; border-bottom: 1px solid ${colors.border}; padding-bottom: 8px;\">Business Details</h3>\n            ${row('Business Type', data.business ? data.business.businessType : 'N/A')}\n            ${row('Need', data.business ? data.business.needType : 'N/A')}\n            ${row('Additional Details', data.business ? data.business.message : 'N/A')}\n        </div>\n\n        <div style=\"background-color: ${colors.bg}; padding: 15px; border-radius: 6px;\">\n            <h3 style=\"color: white; margin-top: 0; margin-bottom: 15px; font-size: 14px; border-bottom: 1px solid ${colors.border}; padding-bottom: 8px;\">Contact Information</h3>\n            ${row('Name', `${data.contact.firstName} ${data.contact.lastName}`)}\n            ${row('Email', data.contact.email)}\n            ${row('Phone', data.contact.phone)}\n        </div>\n    `;\n}\n\n// Full HTML Template\nconst body = `\n<!DOCTYPE html>\n<html>\n<body style=\"margin: 0; padding: 0; background-color: ${colors.bg}; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: ${colors.card}; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); font-family: sans-serif;\">\n        <!-- Header -->\n        <div style=\"background-color: ${colors.bg}; padding: 30px; text-align: center; border-bottom: 1px solid ${colors.border};\">\n            <img src=\"${logoUrl}\" alt=\"solid AI Logo\" style=\"height: 50px; width: auto;\">\n        </div>\n        \n        <!-- Content -->\n        <div style=\"padding: 40px;\">\n            ${content}\n        </div>\n        \n        <!-- Footer -->\n        <div style=\"background-color: ${colors.bg}; padding: 20px; text-align: center; color: #6b7280; font-size: 12px; border-top: 1px solid ${colors.border};\">\n            <p style=\"margin: 0;\">\u00a9 2024 solid AI. All rights reserved.</p>\n            <p style=\"margin: 5px 0 0 0;\">Automated by n8n</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\nreturn [\n    {\n        json: {\n            subject,\n            body,\n            toEmail: data.contact.email,\n            adminEmail: 'solidiaai@gmail.com'\n        }\n    }\n];"
      },
      "name": "Format Email Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "={{$node[\"Format Email Data\"].json[\"subject\"]}}",
        "message": "={{$node[\"Format Email Data\"].json[\"body\"]}}",
        "toEmail": "={{$node[\"Format Email Data\"].json[\"adminEmail\"]}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send to Admin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "tFigzIN0822VVseh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "We received your request - solid AI",
        "message": "Hi there,<br><br>Thanks for reaching out to solid AI. We have received your inquiry and will get back to you shortly.<br><br>Best regards,<br>The solid AI Team",
        "toEmail": "={{$node[\"Format Email Data\"].json[\"toEmail\"]}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send to Client",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        650,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "tFigzIN0822VVseh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Data": {
      "main": [
        [
          {
            "node": "Send to Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}